.profile-wrap{
  text-align: center;
}

.profile-wrap img {
  border-radius: 50%;
  width: 200px;
}

.profile-wrap p {
  font-size: 1rem;
  line-height: 10px;
}

.follower-card{
  text-align: center;
  border: 1px solid black;
  padding: 20px;
  width: 50%;
  margin:  20px auto;

}
.follower-card img {
  border-radius: 50%;
  width: 200px;
  margin: 10px;
}
#login {
 font-size: 30px;
}
.parent {
  display: flex;
  justify-content: space-between;
}

.parent p {
  margin-right: 10px;
  font-size: 24px;
}

.parent p a {
text-decoration: none;
color: black;
}
